.MainBackground {
-fx-background-color: black;
}

.text {
-fx-fill: white;
-fx-font: 16px Tahoma;
}

.green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.top {
  -fx-width: 100%;
  -fx-height: 200px;
  -fx-background-color: rgba(255,255,255,0.2);
}

.smallchat{
-fx-width: 650px;
-fx-height: 300px;
-fx-border-color: green;
-fx-background-color: black;}

.textbox{
-fx-width: 500px;
-fx-height: 250px;}

.sendB{
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #CCFF99;
}

.scroll{
-fx-background-color: transparent;
}